<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
      <meta http-equiv="refresh" content="3">
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

        <!-- Optional theme -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">

        <!-- Latest compiled and minified JavaScript -->
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="jumbotron">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1>
                     IBeacon
                    </h1>
                    <p>Per fare del testing usa questo comando <br>curl -X POST -H "Content-Type: application/json" -d '{"id_beacon":"rasp","id_device":"xydewz","status":"1","power":"12"}' http://192.168.0.100/ibeacon</p>
                    <p>Here a list of all messages received by the Ibeacon Application</p>
                </div>
            </div>
            <table class="table table-striped table-bordered">
  <thead>
    <tr>
      <td>ID_Device</td>
      <td>ID_Beacon</td>


    </tr>
  </thead>
  <tbody>

            {% for loc in data %}
            <tr>
              <td>{{loc.id_device}}</td>
                <td>{{loc.id_beacon}}</td>

             </tr>
            {% endfor %}



        </body>
</html>
